<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes!</title>
</head>
<body>

  <ul id="cupcakes"></ul>

  <div>
    <form id="form" action="">
      <label for="flavor">Flavor</label>
      <input type="text" id="flavor">

      <label for="size">Size</label>
      <input type="text" id="size">

      <label for="rating">Rating</label>
      <input type="text" id="rating">

      <label for="image">Image</label>
      <input type="text" id="image">

      <button id="add" type="submit">Submit!</button>
    </form>
  </div>

  <div>
    <form id="search-form" action="">
      
      <label for="search">Cupcake to search for</label>
      <input type="text" id="search">
      
      <button id="search" type="submit">Search!</button>
  </div>

  <div id="search-area"></div>

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/cupcakes.js"></script>
</body>
</html>